- if data.site.defaults.shownewslettersignup
	.newsletter
		%h4 Newsletter
		%p Keep up to date on new positions, offerings, and tips for top-notch prospects & clients!
		
		= partial "partials/footers/footer__newsletter-code"

:markdown
	### Most Popular
	- [How to Write a Simple Letter of Resignation](/blog/how-to-write-a-simple-letter-of-resignation)
	- [Develop a High Performing Sales Culture](/blog/how-to-develop-a-high-performing-sales-culture)
	- [The Importance of Personality Testing](/blog/the-importance-of-personality-testing-for-a-better-understanding-of-your-team-yourself-and-your-next-hire)
	- [3 Mental Adjustments for More Successful Cold Calls](/blog/3-mental-adjustments-for-a-more-successful-cold-call)

:markdown
	### From Around the Web
	- [One of the most effective ways to land a new job is through target networking.](http://www.huffingtonpost.com/eileen-williams/targeted-networking_b_10259356.html) (Huffington Post)
	- [Want to make sure your business comes out on top this year?](http://www.forbes.com/sites/ianaltman/2015/12/01/top-10-business-trends-that-will-drive-success-in-2016/#65de4af55571) (Forbes)