
		<div class="col-sm-6 col-md-6 blueBox box" >
				<a href="/positions.html">
			<div class="row mt-xl mb-xl">
			<h3 class="mt-xl center white">Professional Looking for Change?</h3>
		
							<img class="hidden-xs img-responsive center mb-xl" style="margin-top: 50px;" src="images/plane-icon.png" alt="" >
		
			
				<h4 class=" center white">view open roles</h4>
			</div>
			</a>
			</div>
		
			
			<div class="col-sm-6 col-md-6 tealBox box">
				<a href="/recruiting.html">
				<div class="row mt-xl mb-xl">
					
					<div class="col-sm-8 col-md-9 ">
				<h3 class="mt-xl mb-sm ml-sm  white">Employers: Recruiting</h3>
			
				<h4 class=" ml-sm white">Looking to hire full-time work?</h4>
				
					</div>
					<div class="col-md-3">
				<img class="hidden-xs img-responsive center" style="margin-top: 30px;" src="images/recruiting-icon.png" alt="" >
				</div>
				</div>
				</a>
			</div>
		

			<div class="col-sm-6 col-md-6 lightBlueBox box">
				<a href="/prospects.html">
				<div class="row mt-xl mb-xl">
					
					<div class="col-sm-8 col-md-9 ">
				<h3 class="mt-xl mb-sm ml-sm  white">Employers: Prospecting</h3>
			
				<h4 class=" ml-sm white">Lead Generation or Appointment Settings</h4>
				
					</div>
					<div class="col-md-3">
				<img class="hidden-xs img-responsive center" style="margin-top: 30px;" src="images/prospecting-icon.png" alt="" >
				</div>
				</div>
				</a>

			</div>
