
<div class="container " id="About">
	<div class="row mt-xl mb-xl">
		
		
				<h3 class="mt-xl mb-sm heading-primary  padding0 center">Whatever you're looking for, we can help.</h3>
				<h4 class="center mb-xl">We'll tell you if it's something we can do, or refer you to a trusted partner if we can't.</h4>
					<div class="col-sm-5">
				<a href="/recruiting.html"><h5 class="mt-xl center teal">Looking to Hire Full-Time Work?</h5></a>
				<p class="mt-md mb-xl  center">Hire top-talent from our vast number of proved and tested top sales employees. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
					<div class="col-sm-2">
					</div>
					<div class="col-sm-5">
				<a href="/prospects.html"><h5 class="mt-xl center teal">Looking for Lead Generation or Appointment Settings?</h5></a>
				<p class="mt-md mb-xl  center">Hire employees out of our own collection of contracted employees. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
					
	</div>
	<div class="row mt-xl mb-xl">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
		<h4 class="center">Let us help you find your next job!</h4>
		<hr class="center">
		<div class="row mt-xl mb-xl">
			<div class="col-sm-10">
		<label>Your email address *</label>
		<input class="form-control bannerInput white" type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
		</div>
			<div class="col-sm-2">
		<input type="submit" value="Send Message" class="mt-lg btn btn-primary btn-lg mb-xlg" data-loading-text="Loading...">
			</div>	</div>					
		
	</div>
			
	</div>		
	
</div>
