<div class="partners">
<div class="container " id="About">
	<div class="row mt-md mb-xl">
		
		
				<h4 class=" center ">Beyond Sales, We've partnered Around the Country</h4>
				<div class="col-sm-2"></div>
				<div class="col-sm-3 mt-xl">
								<img class="img-responsive mt-xl mb-xl" src="images/MSU-logo.gif" alt="" data-appear-animation="fadeInLeft">

				</div>
		<div class="col-sm-2 mt-xl">
								<img class="img-responsive mt-sm mb-xl" src="images/spartan-innovation-logo.jpg" alt="" data-appear-animation="fadeInLeft">

				</div>
		
		<div class="col-sm-3 col-sm-offset-1 mt-xl">
								<img class="img-responsive mt-xl mb-xl" src="images/techtown-logo.png" alt="" data-appear-animation="fadeInLeft">

				</div>
	</div>
</div>
</div>