<div class="slider-container slider-container-fullscreen" >
	<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
		
		<ul>
			
					
			<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<img src="images/slides/home1.jpg" " data-fullwidthcentering="on" alt="">
				

					<div class="tp-caption main-label sft stb"
						 data-x="center" data-hoffset="0"
						 data-y="-25"
						 data-speed="300"
						 data-start="1500"
						 data-easing="easeOutExpo">EAM Staffing & Recruiting</div>

					<div class="tp-caption bottom-label sft stb darkBlue center col-md-6"
						 data-x="center" data-hoffset="0"
						 data-y="50"
						 data-speed="500"
						 data-start="2000"xz
						 data-easing="easeOutExpo">Most best-in-class sales professionals aren't out looking for a job and</br>
						 especially not posting their resumes to the popular job boards. It's our</br>
						 job to identify those individuals, bring them over to the "good side", and</br>
						 make sure the right people are in the right seats.</div>

				
		<div class="tp-caption" data-hash data-hash-offset="60" 
						data-x="center" data-hoffset="0"
						data-y="250"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="500"
						data-start="1700"
						data-easing="Back.easeInOut"
						data-endspeed="300">
		<h4 class="center">Enter your email for more information.</h4>
		<hr class="center">
		<div class="row  mb-xl">
			<div class="col-sm-10 ml-ng">
		<label>Your email address *</label>
		<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control bannerInput" name="email" id="email" required>
		</div>
			<div class="col-sm-2 mt-sm">
		<input type="submit" value="Submit" class="mt-lg btn btn-primary btn-lg mb-xlg" data-loading-text="Loading...">
			</div>	</div>
		</div>
		
		<a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="60" href="#About"
						data-x="center" data-hoffset="0"
						data-y="375"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="800"
						data-start="2000"
						data-easing="Back.easeInOut"
						data-endspeed="300">
							Learn More
					</a>
					
	
			</li>
			

			
			
		</ul>
	</div>
</div>