- if data.site.defaults.shownewslettersignup
	.newsletter
		%h4 Newsletter
		%p.white Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
		
		= partial "partials/footers/footer__newsletter-code"