---
layout: blog_layout
---

.blog-posts#blog-posts
	%section.section.section-default.section-center
		.container
			.row
				.col-md-12
					%h1 Thanks for Reaching Out!
					%p We'll be in touch shortly.
					