<section class="section-center pt-xlg">
	<h3 class="center">Beyond Sales, We've Also Partnered Around the Country:</h3>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="owl-carousel nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 4,"loop":true, "autoplay": true, "autoplayTimeout": 3000}'>
					<% data.partners.partners.each_with_index do |partner, index| %>
						<img src="<%= partner.partner_logo %>" alt="<%= partner.partner_alt %>">
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>