<div id="process-step5">
	<div class="greybg">
		<div class="container">
			<div class="row mt-xl mb-xl">
				<div class="col-xs-9 col-md-6" >
					<h2 class="heading-primary">Step 5: Onboard</h2>
					<p>
					We have seen two distinct on-boarding strategies…  You might say; “let’s bring them in and see how they do, they just need to listen to me and pick up the phone!”  Or perhaps you want to provide them with an on-boarding roadmap to ensure their success.  If it’s the later we’ll give you access to our tools and methodologies that will enable your new rockstars!</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-xs-3 col-md-4">
					<img class=" img-responsive mb-xl" style="margin-top: 50px;" src="images/5onboard.png" alt="" data-appear-animation="fadeInRight">
				</div>
			</div>
		</div>
	</div>
</div>
