---
title: EAM Staffing BootCamp
description: EAM Staffing is hiring for it's 2016 end of year bootcamp. Learn more and Register today!
---

%body{class: page_classes}
	%section.section.section-default.section-center#header__blog-index
		.container
			.row
				.col-md-12
					%h2.mb-none The EAM Staffing Bootcamp.
					%p.mb-none We're looking for top talent, too. Are you in?
	.container
		.row
			.col-md-9
				%img{:src => "/images/bootcamp-final.png", :alt => "EAM Staffing Bootcamp"}/
			.col-md-3
				%aside.sidebar#sidebar
					= partial "partials/sidebar/sidebar-default"