---
title: Thank You for Contacting Us | EAM Staffing
---
%section.section.section-default.section-center.mb-sm.pb-md
	.container
		.row
			.col-md-12
				%h1 Thanks for Reaching Out!
				%p.mb-none We've received your email & will be in touch shortly.
.container
	.row.mt-lg.mb-lg
		.col-md-8.col-md-offset-2
			.col-md-6
				:markdown
					While you wait for us to get back to you, we recommend you **click the link below** and check out some of our articles that explain a little bit more about what _we_ can do for _your_ business.
				%a.btn.btn-primary.btn-lg{:href => "/blog"}
					Check out the Articles
			.col-md-6
				%img.img-responsive.img-rounded{:src => "/images/mailbox.jpg", :alt => ""}/